/* Globales */
*::after,
*::before,
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: 'lato';
    color: #8F868A;;
    background: url("fondo2.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
.icon-cart{
    width: 40px;
    height: 40px;
}

img{
    max-width: 100%;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

/* Main */

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
    color: rgb(181, 155, 211);
}

.item:hover{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.20);
    width: 200px;
    height: 250px;
    color: rgb(181, 155, 211);
}

.info-product{
    padding: 15px 30px;
}

.item img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}
.slider-container {
    display: flex;
    width: 900px;
    height: 150px;
    position: sticky;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 900px;
    object-fit: cover;
    scroll-snap-align: center;
  }
  *{box-sizing:border-box;}

		.container{
			width:95%;
			max-width:900px;
			padding:32px 64px;
			margin:auto;
		}

		.social{
			/*las imágenes usadas tienen width de 48px*/
			width:48px;
			position:fixed;
			top:50px;
			right:0;
		}

		/* Extra centrado vertical*/

		.social{
			/*border:1px solid #000;*/
			top:50%;
			height:205px;
			/*para poner height 192 deberíamos haber indicado en el reset de estilos font-size:0;*/
			margin-top:-100px;
		}
